.card{
    width: 18rem;
}
#cuerpo{
    width:100% ;
    display: flex;
     justify-content:center ;
      flex-wrap: wrap;

}
.card-subtitle{
    color: #171816;
}
.card-text{
    color: #3b3a3a;
}
.card{
    height: 500px;
    margin: 20px;

}

.card-title{
    color: #000000;
}
.card-body{
    background-color: #cacac1;
    text-align: center;
}
#navbar{
    background-color: #afa892;
}
#privacy-card{
    border-radius: 20px;
    border: 2px solid grey;
    padding: 15px;
    margin-top: 10px;
}